<div id="about-textbox">
  <div id="insideContainer">
    <h1>About the game...</h1>
    <hr>
    <p>
      Five Doors is a (definitely not rushed) project where the goal is to escape a seemingly inconspicuous room,
      with nothing more than a few doors blocking your means of escape. The doors, however, all have locks which
      can only be unlocked by entering the correct combination, which must be figured out by riddles provided around the
      website. Some riddles are hidden in plain sight, others buried much deeper, maybe even within another website,
      which
      may or may not be related to this little "game".
    </p>
    <hr>

    A few helping tips to guide you along your trip:
    <ul>
      <li> Inspecting different aspects of the site may be necessary to progress</li>
      <li> The help page only provides help to those who need it</li>
      <li> The forum is not just for community interaction</li>
      <li> The first lock's answer is "sesame" (this one is on the house for checking the about page :p)</li>
      <li> The other website will reveal itself as you progress</li>
      <li> If you are from the other side, password is "bloxwich"</li>
    </ul>
    Don't keep them waiting...

  </div>
</div>
