<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selected)="changePage($event)" [current]="page" *ngIf="page" (onClose)="onClose($event, sidenav)" [loggedIn]="loggedIn" (onLogout)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="lightgray">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggle(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>Five Doors</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/main">Main</a></li>
          <li><a routerLink="/help">Help</a></li>
          <li><a routerLink="/forum">Forum</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a *ngIf="!(loggedIn)" routerLink="/register">Register</a></li>
          <li *ngIf="!(loggedIn)"><a routerLink="/login">Login</a></li>
          <li *ngIf="loggedIn"><a routerLink="/login" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
