<div id="helpsMain" [ngSwitch]="currentDoor" >
  <div *ngSwitchCase="0">The first door... you might need a magic word to open it.</div>
  <div *ngSwitchCase="1">Getting lost is sometimes a way to progress</div>
  <div *ngSwitchCase="2">The sound of keyboards echo in your head...</div>
  <div *ngSwitchCase="3">A community effort might be needed here.</div>
  <div *ngSwitchCase="4">The answer lies in another world...</div>
  <div *ngSwitchCase="5">Well, you're not really free, the door just opened to a picture. Thanks for suffering through this.</div>
</div>

<div id="main-game-box">
  <div id="door-content">
    <div id="doorpic">
      <img [src]="imageSource" alt="A door...">
    </div>


  </div>
  <div id="answer-form-container" *ngIf="currentDoor < 5">
    <div class="flex">
      <mat-form-field>
        <mat-label for="answer"></mat-label>
        <input matInput name="answer" type="text" [formControl]="answer"/>
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="submitAns()">Submit Answer</button>
    </div>

  </div>

</div>
